<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lqz.unmannedinspectionsystem.mapper.AlarmMapper">
    <insert id="insert">
        insert into alarm (device_id, mp_id, status, alarm_time, create_time, update_time)
        values
            (#{deviceId},#{mpId},#{status},#{alarmTime},#{createTime},#{updateTime});
    </insert>

    <update id="update">
        update alarm
        <set>
            <if test="deviceId!=null">device_id = #{deviceId},</if>
            <if test="mpId!=null">mp_id=#{mpId},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="alarmTime!=null">alarm_time=#{alarmTime},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
            where alarm_id = #{alarmId}
    </update>
</mapper>