<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lqz.unmannedinspectionsystem.mapper.DeviceMapper">
    <insert id="insert">
        insert into device(device_type, name, run_status, health_status, workshop_id, create_time, update_time)
            VALUE
        (#{deviceType},#{name},#{runStatus},#{healthStatus},#{workshopId},#{createTime},#{updateTime});
    </insert>

    <update id="update">
        update device
        <set>
            <if test="deviceType!=null">device_type=#{deviceType},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="runStatus!=null">run_status=#{runStatus},</if>
            <if test="healthStatus!=null">health_status=#{healthStatus},</if>
            <if test="workshopId!=null">workshop_id=#{workshopId},</if>
            <if test="createTime!=null">create_time=#{createTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
        </set>
            where device_id=#{deviceId}
    </update>


</mapper>